:root {
    --whitish: #F9F7F7;
    --bluish: #DBE2EF;
    --blued: #3F72AF;
    --dark_blued: #112D4E;
}

body {
    background-color: var(--whitish );
    padding-top: 20px;
    padding: 5%;
   
}

.card-body{

    background-color: var(--dark_blued);
    color: #F9F7F7;
    border-radius: 2%;
   
}