
:root {
    --whitish: #F9F7F7;
    --bluish: #DBE2EF;
    --blued: #3F72AF;
    --dark_blued: #112D4E;


}

body {
    /* background-color: rgba(2, 15, 7, 0.91); */
    background-image: url('../images/web_img/pine.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 100vh;
    justify-content: center;
    align-items: center;
}




.nav_container {
    margin: 3%;
    right: -2%;
    top: 30%;
    height: auto;
    width: 12%;
    background-color: rgba(0, 0, 0, 0.616);
    color: var(--whitish);
    position: fixed;
    z-index: 1000;
    border-radius: 8px; 
    padding: 1em; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); 
}

.nav_container a {
    color: var(--whitish);
    display: block; 
    padding: 0.5em 0; 
    text-decoration: none; 
    transition: background-color 0.3s, color 0.3s; 
}

.nav_container a:hover {
    background-color:  #0f3d02;;
    color: var(--bluish); 
    border-radius: 4px; 
}

.nav_container .nav-link.active {
    font-weight: bold;
    background-color: #0123008d;
    border-radius: 4px; 
}






















.card {
    
    color: white;
    margin-top: 50px;
    border-radius: 8px;
    background-color: rgba(0, 0, 0, 0.759);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgb(0, 0, 0);
    justify-content: center;
}




.btn-primary {
    background-color:  #5b3111d6;
    border-color: #000000;
}

.btn-primary:hover {
    background-color: #0f3d02;
    border-color: #000000;
}

